{extend name="common/main"}
{block name="content"}
<div class="contentHeader mb-20">
    <div class="container">
        <h1>二维码生成&解码</h1>
        <p>二维码在线生成和解码，当前只支持QR码...</p>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs mb-20">
        {foreach $sub_nav as $nav}
        {$nav}
        {/foreach}
    </ul>
    <div id="alert-box">
        {$flashMessage->output()}
        <script>alertDelayHide();</script>
    </div>
    <div>
        {$tab_content}
    </div>
</div>
{/block}