<div class="tab-pane" id="hmacHash">
    <form method="post">
        <div class="row mb-20">
            <div class="col-md-6">
                <p>明文：</p>
                <textarea spellcheck="false" name="plainText" class="form-control"></textarea>
            </div>
            <div class="col-md-6">
                <p>Hash值：</p>
                <textarea spellcheck="false" name="cipherText" class="form-control" disabled="disabled"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="ul-group">
                    <li>
                        <div class="input-group" style="width:320px;">
                            <span class="input-group-addon">密钥：</span>
                            <input class="form-control" name="hashSecret" placeholder="在此输入密钥">
                        </div>
                    </li>
                    <li>
                        <div class="input-group" style="width:220px;">
                            <span class="input-group-addon">类型：</span>
                            <select class="form-control" name="hashAlgo">
                                {foreach name='hash_select' item='val' key='key'}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" event-type="AJAX_SUBMIT">
                            生成&nbsp;<i class="fa fa-chevron-right"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<script>
    $('#hmacHash form button').click(function (evt) {
        var $target = $(evt.currentTarget);
        var $form = $target.parents('form');
        $form.ajaxSubmit(function (resp) {
            var obj = JSON.parse(resp);
            if (obj.status == 0) {
                var data = obj.data;
                for (var key in data) {
                    $form.find("[name='" + key + "']").val(data[key]);
                }
            }
        });
        return false;
    });
</script>