<div class="tab-pane" id="symmetric">
    <form method="post">
        <div class="row mb-20">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="address" placeholder="请输入网址或IP地址" value="">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>查询
                    </button>
                </span>
                </div>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        最近查询：<a href="#">www.baidu.com</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">查询结果：</div>
                    <div class="panel-body">
                        {foreach $raw_data as $data}
                        <p>{$data}</p>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>