<footer class="footer">
    <div class="container">
        <p><a href="#">网站地图</a>&nbsp;|&nbsp;<a href="#">关于我们</a>&nbsp;|&nbsp;<a href="#">意见建议</a></p>
        <p>Copyright 2017-<?=date('Y')?> prow.cc 版权所有 皖ICP备12345678-1号</p>
    </div>
</footer>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6634ad82ad1e33028d0a695ce5553cf6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>