<header>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">PROW.CC</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <div class="navbar-login">
                <a href="#">登陆</a> | <a href="#">注册</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{:url('format/json')}" role="button">格式化</a></li>
                <li><a href="{:url('encrypt/symmetric')}" role="button">加密&解密</a></li>
                <li><a href="{:url('ip/search')}" role="button">IP查询</a></li>
                <li><a href="{:url('qrcode/encode')}" role="button">二维码</a></li>
            </ul>
        </div>
    </div>
</header>